
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  text-align: center;
}
.parallax1 {
  background: url(tsaimg/one.png);
  min-height: 100%;
}
.parallax2 {
  background: url(tsaimg/two.png);
  min-height: 60%;
}
.parallax3 {
  background: url(tsaimg/three.png);
  min-height: 60%;
}
.parallax4 {
  background: url(tsaimg/four.png);
  min-height: 60%;
}
.parallax5 {
  background: url(tsaimg/about1.JPG);
  min-height: 100%;
}
.parallax6 {
  background: url(tsaimg/about2.JPG);
  min-height: 60%;
}

.parallax1, .parallax2, .parallax3, .parallax4, .parallax5, .parallax6 {
  position: relative;
  opacity: .8;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 1;
}

.menu ul{ 
	position: fixed;
	display: flex;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background: rgba(0,0,0,.3);
	list-style-type: none;
	margin: 20px auto;
	opacity: 1.0 !important;
	z-index: 2;
}
.menu ul li {
	width: 100%;
}
.menu ul li a{
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
	font-size: 22px;
	color: white;
	text-decoration: none;
	font-family: 'Roboto Condensed', sans-serif;
}
.heading {
  position: absolute;
  color: #fff;
  top: 38%;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: .3rem;
  text-shadow: .4rem .4rem .9rem black;
  font-family: 'Montserrat', sans-serif;
  z-index: 2;
}
.heading h1 {
	z-index: 2;
	font-size: 100px;
  	letter-spacing: .3rem;
  	text-shadow: .4rem .4rem .9rem black;
  	font-family: 'Montserrat', sans-serif;
}
.heading-sm {
  position: absolute;
  top: 45%;
  width: 100%;
  color: #fff;
  font-size: 250%;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 0 0 10px #000;
}
.heading-sm h1 {
    letter-spacing: .3rem;
    text-shadow: .4rem .4rem .9rem black;
    font-family: 'Montserrat', sans-serif;
}
.first h1, .first h2, .second h1, .second h2, .third h1, .third h2 {
  font-family: 'Roboto Condensed', sans-serif;
}
.second h3, .third h3 {
  font-family: 'Montserrat', sans-serif;
}

.frameworks h3, .frameworks h2, .media h3, .media h2 {
  text-align: left;
}

.first p, .second p {
  padding-top: 12.5px;
  font-size: 20px;
  padding-right: 300px;
  padding-left: 300px;
}

section {
  overflow: auto;
  padding: 50px 80px;
}

hr.solid {
  border-top: 3px solid #bbb;
}

.tab-content h3 {
  margin-left: 75px;
  margin-right: 75px;
}

.admin > div {
  display: inline-block;
  vertical-align: top;
  margin-right: 4rem;
  margin-bottom: 3rem;
}
.panel.panel-default {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(244,244,244);
  width: 300px;
  word-wrap: break-word;
}

.panel {
  transition: transform .2s;
}

.panel:hover {
  transform: scale(1.1);
}

.jumbotron {
  background-color: rgba(207,225,246,.6) !important;
  transition: transform .2s;
}

.jumbotron:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .heading {
    font-size: 250%;
  }
  .heading-sm {
    font-size: 180%;
  }
  .two-col {
    width: 100%;
    padding: 0;
    text-align: center;
  }
}

.carousel {
  margin-left: 300px;
  margin-right: 300px;
}

.carousel .item {
  height: 500px;
}

.projects h3 {
  margin-left: 100px;
  margin-right: 100px;
}





















